.imagecontainer{
    width: 100%;
}

.swiper {
    width: 1000px;
    height: auto;

}
.swiper .swiper-button-prev,  .swiper .swiper-button-next{
    color: #fff;
    height: auto;
}
.swiper-pagination .bullet-active{
	color: #fff;

  }